body {
  font-family: Arial;
  padding: 20px;
}

.product {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  width: 220px;
}

.cart {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid green;
}

button {
  margin-top: 10px;
  padding: 6px 12px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
